[Unit]
Description=Slideshow

[Service]
WorkingDirectory=/home/dietpi/RPi-picture-frame/slideshow/build
EnvironmentFile=/home/dietpi/RPi-picture-frame/slideshow/.env
ExecStart=/home/dietpi/RPi-picture-frame/slideshow/build/slideshow

Restart=always
RestartSec=5

User=dietpi
Group=dietpi

StandardOutput=journal
StandardError=journal
SyslogIdentifier=slideshow

[Install]
WantedBy=multi-user.target
